{% extends 'base.html' %}
{% load static %}

{% block static %} <link rel="stylesheet" href="{% static 'vocabulary_app/index.css' %}"> {% endblock %}
{% block title %}Some Texts{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}

    <h1>This Is main Texts Page</h1>
    <ul>
        {% for text in all_texts %}
            <li><a href={{text.get_url}}>{{text.title}}</a></li>
        {% endfor %}
        <li><a href="">Список авторов произведений</a></li>
    </ul>
    
{% include 'includes/navbar.html' %}
{% endblock %}

