ul {
    border-left: 5px solid rgb(11, 1, 1);
    border-right: 5px solid rgb(11, 1, 1);
    background: rgb(206, 56, 56);
    border-radius: 20px;
    text-align: center;
    list-style-type: none;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 1px black;
}